<%= form_with(model: ribbon) do |form| %>
  <% if ribbon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ribbon.errors.count, "error") %> prohibited this ribbon from being saved:</h2>

      <ul>
        <% ribbon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
