<header>
  <nav>
    <ul>
    <li>
        <a href="/films">Filmes</a>
    </li>

    <li>
        <a href="/clients">Clientes</a>
    </li>

    <li>
        <a href="/locations">Locações</a>
    </li>

    <li>
        <a href="/actors">Atores</a>
    </li>

    <li>
        <a href="/casts">Elenco</a>
    </li>

    <li>
        <a href="/ribbons">Fitas</a>
    </li>

    <li>
        <a href="/baskets">Cesta de Filmes</a>
    </li>

    <li>
        <a href="#">Baixa</a>
    </li>

    </ul>
  </nav>
</header>