<ul>
    <li>
        <a href="/films">Filmes</a>
    </li>

    <li>
        <a href="/clients">Clientes</a>
    </li>

    <li>
        <a href="/locations">Locações</a>
    </li>

    <li>
        <a href="#">Baixa</a>
    </li>

</ul>